/* medias */
.cpw-background-page,
.cpw-background{
  width: 100%;
  max-width: 100%;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.cpw-background-page{
  min-height: auto;
  height: 25vh;
  object-fit: cover;
}
.cpw-background{
  height: 100vh;
}
.cpw-background .cpw-button,
.cpw-background h2{
  color: var(--global--color-details);
}
.cpw-background .cpw-button{
  border:1px solid var(--global--color-secondary);
  background-color: var(--global--color-secondary);
}
.cpw-background .cpw-button:hover{
  cursor: pointer;
  text-decoration: none;
  border-color: var(--global--color-details);
  background-color: transparent;
}
@media(max-width: 991px){
  .cpw-background{
    background-position: right;
  }
}
/* .cpw-background-default{
  width: 100vw;
  max-width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
} */
.cpw-bakground-parallax{
  background-attachment: fixed;
  transition: .3s;

}
.cpw-background-light{
  padding: .2rem 0;
  background-color: rgba(0,0,0,.02);
}
.cpw-content-area .cpw-site-main .cpw-hero{
  margin-bottom: -30px;
}
.cpw-details-hero{
  position: relative;
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}
.cpw-details-hero .cpw-info-hero{
  position: absolute;
  width: 100%;
  max-width: 720px;
  color: var(--global--color-details);
  top: calc( 100% - 50vh );
  left: 0;
  text-align: center;
}
.cpw-background-page .cpw-details-hero .cpw-info-hero{
  top: 50%;
}

.cpw-header-image{
  position: relative;
  height: 52vh !important;
  object-fit: cover;
  background: -moz-linear-gradient(360deg, rgba(0,0,0,.4) 0%, var(--global--color-primary) 100%);
  background: -webkit-linear-gradient(360deg, rgba(0,0,0,.4) 0%, var(--global--color-primary) 100%);
  background: linear-gradient(360deg, rgba(0,0,0,.4) 0%, var(--global--color-primary) 100%);
  display: block;
}

.cpw-details-hero .cpw-info-hero h2{
  font-weight: 200;
  font-family: var(--global--font-secondary);
  font-size: var(--global--font-size-xxxl);
  margin-bottom: var(--global--margin-bottom);
}
.cpw-details-hero .cpw-info-hero p{
  font-size: var(--global--font-size-sm);
  line-height: 32px;
  margin-bottom: var(--global--margin-bottom);
}
.cpw-content-area .cpw-site-main .cpw-hero .cpw-slick-hero .slick-dots{
  bottom: 30px;
}
.cpw-content-area .cpw-site-main .cpw-hero .cpw-slick-hero .slick-dots li{
  margin: 0 1rem !important;
}
.cpw-content-area .cpw-site-main .cpw-hero .cpw-slick-hero .slick-dots li button{
  width: 40px;
  border-bottom: 2px solid var(--global--color-secondary);
  opacity: .5;
  transition: .3s all ease-in-out;
}
.cpw-content-area .cpw-site-main .cpw-hero .cpw-slick-hero .slick-dots li.slick-active button{
  opacity: 1;
}
/* .cpw-content-area .cpw-site-main .cpw-hero .cpw-slick-hero .slick-dots li.slick-active button:before{
  color: var(--global--color-secondary);
} */

.cpw-content-area .cpw-site-main .cpw-hero .cpw-slick-hero .slick-prev,
.cpw-content-area .cpw-site-main .cpw-hero .cpw-slick-hero .slick-next{
  font-size: var(--global--font-size-xxxl) !important;
  width: 50px;
  height: 50px;
  background-color: var(--global--color-secondary);
  border-radius: 50px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.cpw-content-area .cpw-site-main .cpw-hero .cpw-slick-hero .slick-prev:before,
.cpw-content-area .cpw-site-main .cpw-hero .cpw-slick-hero .slick-next:before{
  font-size: var(--global--font-size-md);
  line-height: 45px;
}
.cpw-content-area .cpw-site-main .cpw-hero .cpw-slick-hero .slick-next{
  right: 25px;
}
.cpw-content-area .cpw-site-main .cpw-hero .cpw-slick-hero .slick-prev{
  left: 25px;
}

/* sizes */
.size__520{
  width: 100%;
  max-width: 520px;
}  
@media(max-width: 991px){
  img.size__520{
    max-width: 280px;
    height: 280px;
    width: 100%;
  }
}


/* forms */
.cpw-form{
  width: 100%;
  display: block;
  margin: 0 auto;
}
@media(min-width: 768px){
  .cpw-form{
    max-width: 720px;
  }
}
.cpw-form select:focus,
.cpw-form textarea:focus,
.cpw-form input:focus{
  outline: none;
}
.cpw-form select,
.cpw-form textarea::placeholder,
.cpw-form input::placeholder{
  font-weight: 300;
}
.cpw-form textarea::placeholder{
  padding-top: .3rem;
}
.cpw-form textarea,
.cpw-form select,
.cpw-form input{
  display: block;
  width: -webkit-fill-available;
  color: var(--global--color-primary);
  font-weight: 300;
  margin: .4rem 0;
}
.cpw-form select,
.cpw-form input{
  height: 40px;
}
.cpw-form label{
  font-size: var(--global--font-size-sm);
  color: var(--global--color-details);
}
.cpw-form input[type="submit"]{
  width: 100%;
  max-width: 240px !important;
  margin: 1.4rem auto 0;
  display: grid;
  align-items: center;
  background-color: var(--global--color-details);
  padding: .7rem 1rem;
  border: 1px solid var(--global--color-secondary);
  transition: .3s ease-in-out;
}
.cpw-form input[type="submit"]:hover{
  cursor: pointer;
  background-color: var(--global--color-secondary);
  color: var(--global--color-details);
  border-color: var(--global--color-details);
}
.cpw-form .wpcf7-spinner{
  display: none;
}

@media(min-width: 768px){
  .cpw-form form p{
    display: flex;
    flex-wrap: wrap;
  }
  .cpw-form form p span.wpcf7-form-control-wrap{
    width: 50%;
  }
  .cpw-form form p span.wpcf7-form-control-wrap:nth-of-type(1),
  .cpw-form form p span.wpcf7-form-control-wrap:nth-of-type(8){
    width: 100% !important;
  }
  .wpcf7-form-control-wrap:nth-of-type(2) input,
  .wpcf7-form-control-wrap:nth-of-type(3) input,
  .wpcf7-form-control-wrap:nth-of-type(4) input,
  .wpcf7-form-control-wrap:nth-of-type(4) input,
  .wpcf7-form-control-wrap:nth-of-type(5) select,
  .wpcf7-form-control-wrap:nth-of-type(6) select,
  .wpcf7-form-control-wrap:nth-of-type(7) select{
    display: flex;
    flex-basis: 50%;
  }
  .wpcf7-form-control-wrap:nth-of-type(3) input,
  .wpcf7-form-control-wrap:nth-of-type(5) select,
  .wpcf7-form-control-wrap:nth-of-type(7) select{
    float: left;
  }
  .wpcf7-form-control-wrap:nth-of-type(2) input,
  .wpcf7-form-control-wrap:nth-of-type(4) input,
  .wpcf7-form-control-wrap:nth-of-type(6) select{
    float: right;
    margin-right: 5px;
  }
}
