/* title tags and tagine */
h1{
  font-family: var(--global--font-fourth);
  margin-bottom: var(--global--margin-bottom);
  font-size: var(--global--font-size-xxl);
}
h2{
  font-family: var(--global--font-fourth) !important;
  font-size: var(--global--font-size-xxl);
  margin-bottom: var(--global--margin-bottom);
  color: var(--global--color-secondary);
}
h2 span{
  font-family: var(--global--font-primary) !important;
  font-size: var(--global--font-size-xl) !important;
}
p{
  font-family: var(--global--font-third) !important;
  font-size: var(--global--font-size-sm);
  line-height: 28px;
  margin-bottom: .8rem;
}
strong, 
b{
  font-weight: var(--global--font-700);
}

/* backgrounds */
.cpw-background-primary{
  background-color: var(--global--background-primary);
}
.cpw-background-secondary{
  background-color: var(--global--background-secondary);
}


/* display's */
@media(min-width: 992px){
  .cpw-desktop{
    display: block !important;
  }
}
@media(min-width: 992px){
  .cpw-mobile{
    display: none !important;
  }
}
@media(max-width: 991px){
  .cpw-mobile{
    display: block !important;
  }
}


/* default pages */
.cpw-primary{
  background-color: var(--global--color-details) !important;
}
.cpw-primary .cpw-main .cpw-container article header{
  position: initial;
  display: inline;
  background: linear-gradient( var(--global--color-details) )!important;
}
.cpw-primary .cpw-main .cpw-container article header img{
  width: 100%;
  height: 600px;
  display: block;
  object-fit: cover;
}
.cpw-primary .cpw-main .cpw-container article header h1{
  margin-top: var(--global--margin-top);
  margin-bottom: var(--global--margin-bottom);
  font-size: var(--global--font-size-xl);
  font-family: var(--global--font-secondary);
}
.cpw-primary .cpw-main .cpw-container article header .cpw-details{
  margin-bottom: var(--global--margin-bottom);
}
.cpw-primary .cpw-main .cpw-container article header .cpw-details p{
 padding-bottom: .3rem;
}
.cpw-primary .cpw-main .cpw-container article header .cpw-details p:nth-child(2){
  float: left;
}
.cpw-primary .cpw-main .cpw-container article header .cpw-details .post-categories li a,
.cpw-primary .cpw-main .cpw-container article header .cpw-details p a{
  color: var(--global--color-primary);
  text-decoration: none;
  font-weight: 500;
}

.blog aside,
.archive aside{
  padding: 25px;
  background-color: var(--global--color-secondary);
  height: 100%;
  width: 30%;
}
@media(max-width: 991px){
  .blog aside,
  .archive aside{
    min-width: 100%;
  }  
}

.single-menu section header{
  position: initial !important;
  display: inline !important;
  background: linear-gradient( var(--global--color-details) )!important;
}
.single-menu section header img{
  width: 100%;
  height: 380px;
  object-fit: cover;
  margin-bottom: var(--global--margin-bottom);
}
.single-menu .cpw-articles a{
  text-decoration: none;
}
.single-menu .cpw-articles a i{
  font-size: var(--global--font-size-xl);
  color: var(--global--color-primary);
  opacity: .7;
  transition: .3s ease-in-out;
  margin-bottom: .9375rem;
}
@media(max-width: 575px){
  .single-menu .cpw-articles a i{
    padding-left: .9375rem;
  }
}
.single-menu  .cpw-articles a i:hover{
  cursor: pointer;
  opacity: 1;
  color: var(--global--color-secondary);
}
.single-menu  .cpw-articles a p{
  font-size: .9375rem;
  padding-left: .9375rem;
  line-height: 8px;
  opacity: .5;
}

@media(max-width: 575px){
  .single-menu h1{
    font-size: var(--global--font-size-md);
    padding-left: .875rem;
  }
}

/* about home */
#cpw-about-home{
  background-color: #F5F1EA;
}
#cpw-about-home .cpw-grid-2 .cpw-contents{
  padding: var(--global--padding-card);
}

#cpw-about-home .cpw-grid-2 .cpw-contents h2{
  font-family: var(--global--font-third) !important;
  font-size: var(--global--font-size-xl);
}
#cpw-about-home .cpw-grid-2 .cpw-contents:last-child{
  padding: 0;
}
#cpw-about-home .cpw-grid-2 .cpw-information{
  max-width: 520px !important;
  color: var(--global--color-details);
  padding: 2rem;
  height: auto;
  display: grid;
  align-items: end;
}
#cpw-about-home .cpw-grid-2 .cpw-information.cpw-background{
  background-position: left !important;
}
@media(max-width: 991px){
  #cpw-about-home .cpw-grid-2 .cpw-information{
    padding: 2rem 0;
    text-align: center;
    align-content: center;
  }
}
@media(max-width: 1199px){
  #cpw-about-home .cpw-grid-2 .cpw-information{
    width: 100%;
    max-width: 100% !important;
  }
}
#cpw-about-home .cpw-grid-2 .cpw-information .cpw-contents p{
  font-size: var(--global--font-size-sm);
  font-weight: 300;
  line-height: 24px;
  margin-bottom: .8rem;
}

#cpw-about-home .cpw-grid-2 .cpw-information .cpw-contents hr{
  margin: 2rem 0;
}

#cpw-about-home .cpw-grid-2 .cpw-information .cpw-contents .cpw-button{
  color: var(--global--color-secondary);
  border-color: var(--global--color-details);
  background-color: var(--global--color-details);
}
#cpw-about-home .cpw-grid-2 .cpw-information .cpw-contents .cpw-button:hover{
  color: var(--global--color-details);
  background-color: transparent; 
}
#cpw-about-home .cpw-button{
  border: 1px solid var(--global--color-secondary);
}
#cpw-about-home .cpw-button:hover{
  text-decoration: none;
  background-color: var(--global--color-secondary);
  color: var(--global--color-details);
}
#cpw-about-home .cpw-form{
  background-color: var(--global--color-secondary);
  padding: var(--global--padding-card);
}
#cpw-about-home .cpw-form h3{
  font-size: var(--global--font-size-lg);
  color: var(--global--color-details);
  font-weight: 300;
  margin-bottom: var(--global--margin-bottom);
}

/* our gallery */
#cpw-gallery p,
#cpw-gallery h2{
  color: var(--global--color-details);
  text-align: center;
}
#cpw-gallery h2 > span{
  font-family: var(--global--font-fourth) !important;
  font-size: var(--global--font-size-xxl) !important;
  color: var(--global--color-secondary);
}
#cpw-gallery p{
  margin-bottom: var(--global--margin-bottom);
}
#cpw-gallery .cpw-button{
  align-items: center;
  display: grid;
  width: 100%;
  max-width: 200px;
  margin: 1.4rem auto;
  text-align: center;
  border: 1px solid var(--global--color-secondary);
}
#cpw-gallery .cpw-button:hover{
  text-decoration: none;
  background-color: var(--global--color-secondary);
  color: var(--global--color-details);
}

.cpw-gallery{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(15, 10vh);
  grid-gap:5px;
  margin-top: -64px;
}
@media(max-width: 991px){
  .cpw-gallery{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.cpw-gallery .cpw-gallery__item img{
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;  
  object-fit: cover;
  transition: all linear .3s;
}
@media(max-width: 991px){
  .cpw-gallery .cpw-gallery__item img{
    height: 180px;
  }
}
.cpw-gallery .cpw-gallery__item img:hover{
  cursor: pointer;
  transform: translateZ( -1px ) scale(1.05);
}
@media(max-width: 991px){
  .cpw-gallery .cpw-gallery__item img:hover{
    transform: scale(1);
  }
}
@media(min-width: 992px){
  .cpw-gallery .cpw-gallery__item:nth-of-type(1){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .cpw-gallery .cpw-gallery__item:nth-of-type(2){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .cpw-gallery .cpw-gallery__item:nth-of-type(3){
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 9;
  }
  .cpw-gallery .cpw-gallery__item:nth-of-type(4){
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 12;
  }
  .cpw-gallery .cpw-gallery__item:nth-of-type(5){
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 12;
  }
  .cpw-gallery .cpw-gallery__item:nth-of-type(6){
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 12;
  }
  .cpw-gallery .cpw-gallery__item:nth-of-type(7){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 12;
    grid-row-end: 16;
  }
  .cpw-gallery .cpw-gallery__item:nth-of-type(8){
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 16;
  }
  .cpw-gallery .cpw-gallery__item:nth-of-type(9){
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 16;
  }
}
@media(max-width:991px){
  .cpw-gallery .cpw-gallery__item{
    margin-bottom: .8rem;
  }
  .cpw-gallery .cpw-gallery__item:last-child{
    margin-bottom: 0;
  }
}

.insta-gallery-feed .insta-gallery-actions .insta-gallery-button.follow{
  display: none;
}
/* articles  */
.cpw-articles{
  background-color: var(--global--color-details);
}
.cpw-articles .cpw-flex-columns{
  gap: 36px;
}
.cpw-articles article{
  width: 100%;
  max-width: 330px;
  margin: 0 .2rem;
  background-color: var(--global--color-details);
  border: .1px solid rgba(203,120,64,0.2);
  border-radius: var(--globla--border-radius);
  transition: .3s ease-in-out;
}
.cpw-articles article:hover{
  cursor: pointer;
}
.cpw-articles article figure{
  width: 100%;
  max-width: 100%;
  height: 220px;
}
.cpw-articles article figure img{
  width: 100%;
  max-width: 330px;
  height: 220px;
  object-fit: cover;
}
.cpw-articles article .cpw-details{
  padding: var(--global--padding-card);
}
@media(max-width: 575px){
  .post-type-archive-menu .cpw-articles .cpw-flex-columns{
    gap: 10px;
  }
  .post-type-archive-menu .cpw-articles article{
    display: flex;
    flex-direction: column;
    box-shadow: none;
  }
  .post-type-archive-menu .cpw-articles article:hover{
    box-shadow: var(--global--box-shadow-light);
  }
  .post-type-archive-menu .cpw-articles article .cpw-details{
    order: 2;
    min-height: 160px;
    padding-bottom: .4rem !important;
  }
  .post-type-archive-menu .cpw-articles article .cpw-thumbnail-menu{
    order: 1;
  }
}
.cpw-articles article .cpw-details .cpw-contents{
  padding: var(--global--padding-card-sub);
}
.cpw-articles article .cpw-details .cpw-contents h3 a{
  color: var(--global--color-primary);
  font-size: var(--global--font-size-md);
  font-weight: 300;
  line-height: 32px;
  text-decoration: none;
}
.cpw-articles article .cpw-details .cpw-contents p{
  font-weight: 300;
  font-size: var(--global--font-size-sm);
}
.cpw-articles article .cpw-details .cpw-contents .cpw-info{
  display: flex;
  align-items: center;
  gap: 15px;
}
.cpw-articles article .cpw-details .cpw-contents .cpw-info .cpw-avatar{
  width: 80px;
  height: 80px;
  margin: .8rem 0;
}
.cpw-articles article .cpw-details .cpw-contents .cpw-info .cpw-avatar img{
  width: 100%;
  max-width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50px;
}
.cpw-articles article .cpw-details .cpw-contents .cpw-info .cpw-author p{
  font-size: var(--global--font-size-md);
  font-weight: 300;
  margin-bottom: 0;
}

.search article{
  max-width: 100% !important;
  box-shadow: none !important;
  display: block;
}
.search article h2{
  font-size: var(--global--font-size-md);
}
.search article h2 a{
  color: var(--global--color-primary);
  text-decoration: none;
  transition: .3s all;
}
.search article h2:hover a{
  cursor: pointer;
  color: var(--global--color-secondary);
}

/* comments */
.comment-respond h3{ 
  font-family: var(--global--font-secondary);
  font-size: var(--global--font-size-md);
  margin-bottom: .8rem;
}
.comment-respond form .logged-in-as,
.comment-respond form .comment-notes{
  font-family: var(--global--font-secondary);
 font-size: var(--global--font-size-sm);
 margin-bottom: .8rem;
}
.comment-respond form label{
  font-weight: 300;
}
.comment-respond form input[type="text"],
.comment-respond form input[type="url"],
.comment-respond form input[type="email"],
.comment-respond form textarea{
  width: 100%;
  max-width: 100%;
  height: 48px;
  margin: .8rem 0;
}
.comment-respond form textarea{
  height: 150px;
}
.comment-respond form .form-submit .submit{
  font-size: var(--global--font-size-md);
  color: var(--global--color-details);
  background-color: var(--global--color-secondary);
  padding: .8rem;
  margin: 1rem 0;
  border: none;
  transition: .3s ease-in-out;
}
.comment-respond form .form-submit .submit:hover{
  cursor: pointer;
  background-color: var(--global--color-primary);
}

/* menu */
.cpw-nav-menu{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 0;
}
@media(max-width: 414px){
  .cpw-nav-menu{
    justify-content: space-between;
    overflow-x: auto;
  }
}
.cpw-nav-menu .cpw-nav-menu__item{
  padding: .5rem 1rem;
}
.cpw-nav-menu .cpw-nav-menu__item:first-child{
  padding-left: 0;
}
.cpw-nav-menu .cpw-nav-menu__item::after{
  position: relative;
  content: "|";
  right: -15px;
}
.cpw-nav-menu .cpw-nav-menu__item:last-child::after{
  display: none;
}
.cpw-categories-menu{
  padding: 1rem;
  background-color: rgba(0,0,0,0.04);
  margin: 1.4rem 0;
}
.cpw-categories-menu h2{
  font-size: var(--global--font-size-sm) !important;
  font-weight: 400;
  font-family: var(--global--font-secondary) !important;
  margin-bottom: 0;
}
.cpw-nav-menu .cpw-nav-menu__item a{
  color: var(--global--color-primary);
  font-size: var(--global--font-size-sim);
  text-decoration: none;
  transition: .3s ease-in-out;
}
.cpw-nav-menu .cpw-nav-menu__item.active a{
  border-bottom: 2px solid var(--global--color-secondary);
  padding-bottom: .2rem;
  color: var(--global--color-secondary);
}
.cpw-nav-menu .cpw-nav-menu__item:hover a{
  color: var(--global--color-secondary)
}
.cpw-card-menu{
  width: 100%;
  max-width: 500px !important;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: var(--global--margin-bottom) !important;
}
@media(max-width: 575px){
  .cpw-articles article.cpw-card-menu{
    max-width: 140px !important;
  }
}
@media(max-width: 575px){
  .cpw-card-menu .cpw-details{
    padding: 0 !important;
  }
}
.cpw-card-menu .cpw-details h3{
  font-family: var(--global--font-secondary) !important;
  font-size: var(--global--font-size-md) !important;
  margin-bottom: .8rem;
}
@media(max-width: 575px){
  .cpw-card-menu .cpw-details h3{
    font-size: .875rem !important;
    padding: .4rem;
    margin-bottom: 0;
  }
}
.cpw-card-menu .cpw-details p{
  font-family: var(--global--font-primary) !important;
  font-size: var(--global--font-size) !important;
  line-height: 20px;
  margin-bottom: .8rem;
}
@media(max-width: 767px){
  .cpw-card-menu .cpw-details p{
    font-size: .9375rem !important;
  }
}
@media(max-width: 575px){
  .cpw-card-menu .cpw-details p{
    font-size: .8rem !important;
    line-height: 16px !important;
    padding-left: .4rem;
    padding-right: .4rem;
    margin-bottom: .4rem;
  }
}
.cpw-card-menu .cpw-details p span{
  font-weight: 600;
}
.cpw-card-menu .cpw-details .cpw-button{
  font-size: var(--global--font-size-size);
  padding-left: 0;
}
@media(max-width: 575px){
  .cpw-card-menu .cpw-details .cpw-button{
    font-size: .875rem;
    padding-left: .4rem;
    margin-bottom: .4rem;
  }
}

/* reservation action */
.cpw-resertavion__action .cpw-copy-white{
  color: var(--global--color-details);
}
@media(max-width: 767px){
  .cpw-resertavion__action .cpw-copy-white{
    text-align: center;
  }
}
.cpw-resertavion__action h2{
  font-size: var(--global--font-size-xl);
  font-family: var(--global--font-primary) !important;
  margin-bottom: 0;
}
.cpw-resertavion__action .cpw-button{
  background-color: var(--global--color-primary);
  border: 1px solid var(--global--color-primary);
}
@media(max-width: 575px){
  .cpw-resertavion__action .cpw-button{
    font-size: .8rem !important;
  }
}
.cpw-resertavion__action .cpw-button:hover{
  background-color: transparent !important;
  text-decoration: none;
  background-color: var(--global--color-primary);

}

/* programmings */
.cpw-programmings .cpw-flex-columns{
  margin-bottom: var(--global--margin-bottom);
}
@media(min-width: 992px){
  .cpw-programmings .cpw-flex-columns{
    flex-wrap: nowrap;
  }
}
.cpw-programmings .cpw-background{
  height: 500px;
}
.cpw-programmings .cpw-contents,
.cpw-programmings .cpw-background{
  width: 100%;
  max-width: 570px;
  padding-right: 15px;
  padding-left: 15px;
}
@media(max-width: 991px){
  .cpw-programmings .cpw-contents,
  .cpw-programmings .cpw-background{
    max-width: 100%;
  }
}
.cpw-programmings .cpw-contents h3{
  font-size: var(--global--font-size-xl);
  font-weight: 300;
  margin-bottom: var(--global--margin-bottom);
}
.cpw-programmings .cpw-contents p{
  font-size: var(--global--font-size-md);
  font-weight: 300;
}
.cpw-programmings .cpw-contents p .cpw-add-event-date{
  font-size: var(--global--font-size-sm);
  font-family: var(--global--font-primary);
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  max-width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 0;
  border: 1px solid var(--global--color-secondary);
  transition: .3s ease-in-out;
}
@media(max-width: 575px){
  .cpw-programmings .cpw-contents p .cpw-add-event-date{
    font-size: .8rem;
    padding: .625rem;
  }
}
.cpw-programmings .cpw-contents:hover p .cpw-add-event-date{
  background-color: var(--global--color-secondary);
  color: var(--global--color-details); 
}

/* tags 'H' and 'p' */
@media(max-width: 575px){
  h2, h3, h4, h5{
    font-size: var(--global--font-size-xl) !important;
  }
  p{
    font-size: .875rem !important;
    line-height: 20px !important;
  }
}

/* slick adicional */
.cpw-slick-img__520{
  display: grid !important;
  align-items: center !important;
}